<h3>Operadores</h1>
<div class="span8">
  <table class="table table-striped">
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th></th>
    </tr>

    <% @operators.each do |operator| %>
      <tr>
        <td><%= operator.name %></td>
        <td><%= operator.code %></td>
        <td><%= link_to 'Ver Recorridos', operator, :class => 'btn' %></td>
      </tr>
    <% end %>
    </table>
</div>
