<p id="notice"><%= notice %></p>

<p></p>

<%= select_tag :recorrido, options_for_select(@recorridos.map { |u| [u.code, u.id] }), :prompt => "Seleccione un Recorrido", include_blank: true , class: 'chzn-select' %>

<p></p>

<div id="mapa">
	<%= gmaps({
		"map_options" => { "zoom" => 13 }
     })
 %>
<% content_for :scripts do %>
  <script type="text/javascript">
    // var trafficLayer = new google.maps.TrafficLayer();
    // console.log(Gmaps.map.map);
    // trafficLayer.setMap(Gmaps.map.map);

  </script>
<% end %>


</div>