<h3>Archivos</h3>

<div class="span8">
  <table class="table table-striped">
  <tr>
    <th>Archivo</th>
    <th></th>
  </tr>

<% @data_files.each do |data_file| %>
  <tr>
    <td><%= data_file.file.url.split('/').last %></td>
    <td><%=link_to 'Bajar Archivo', data_file.file_url%></td>
  </tr>
<% end %>
</table>

</div>
